.container {
    display: flex;
}

.map-area {
    width: 50%;
    position: relative;
}

.japan-map-img {
    width: 100%;
}

.region-btn {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #aaa;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.info-area {
    width: 50%;
    padding: 20px;
    background-color: #f9f9f9;
}

.write-btn-box {
    margin-top: 20px;
    text-align: right;
}

#japan-map path {
    transition: 0.3s;
    fill: #ccc;
    stroke: #333;
}

#japan-map path:hover {
    fill: orange;
    cursor: pointer;
}

